
@charset 'UTF-8';

@font-face
{
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols-2.11.eot');
    src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'PlaySir';
    src: url('../fonts/PLAYSIR Regular.otf') ;
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 18px;
}

#top {
  background-color: #00468B;
  background-image: linear-gradient(to bottom, #3a7fe7, #3365ba, #2b4d8f, #203566, #142040);
}

.ice-flows-header {
  width: 100%;
  padding-bottom: 50px;
  color: white;
  position: relative;
}

.ice-flows-header img.berg {
  width: 100%;
}

.get-it-badge { 
  height: 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PlaySir', sans-serif;
}



.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

}

.navbar a {
  font-family: 'PlaySir', sans-serif;
  font-size: 22px;
  color: white!important;
}

.navbar a:hover {
  color: #99ffff!important;
  text-decoration: none;
  border-bottom: 5px dashed #99ffff;
}

header hr {
  border-bottom: 5px solid #99ffff;

}

a.video-link p {
  font-family: 'PlaySir', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  color: white!important;
}

a.video-link p:hover {
  color: #99ffff!important;
  text-decoration: none;
}

.tagline {
  font-family: 'PlaySir', sans-serif;
  font-size: 20px;
  color: #99ffff!important;
  text-decoration: none;
}

.scifi-content {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
}

.scifi-content p {
  text-align: justify;
}

@media only screen and (max-width: 992px) {
  .scifi-content .border-left {
    border-left-width: 0!important;
  }
}

/* @media only screen and (max-width: 768px) {
  .scifi-content.border-left {
    border-left-width: 0!important;
  }
} */


@media only screen and (min-width: 992px) {
  .video-modal-button {
    margin-top: -70px;
  }
}

.video-modal-button a {
  cursor: pointer;
}

.video-modal-button img {
  color: white;
  fill: white;
  stroke: white;
  height: 150px;
}

#partners {
  background-color: #707070;
}


.img-partners img {
  padding: 10px;
  height: 80px;
}

.img-key-partners {
  /* max-height: 175px; */
}

.card-columns {
  column-count: 3;
}


@media only screen and (max-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media only screen and (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}


@media only screen and (min-width: 992px) {
  .card-columns {
    column-count: 5;
  }
}

#chars {
  background-color: #90AFC5;
}

#chars .nav-link {
  padding: 0;
  margin: 0;
}

#chars .rounded-circle {
  width: 50px;
  margin: 5px;
  border: 2px solid #142040;
}

@media only screen and (min-width: 465px) {
  #chars .rounded-circle {
    width: 75px;
    border: 3px solid #142040;
  }
}

@media only screen and (min-width: 535px) {
  #chars .rounded-circle {
    width: 90px;
    border: 3px solid #142040;
  }
}

@media only screen and (min-width: 768px) {
  #chars .nav-link.active:after {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    left: 15%;
    bottom: -30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid white;
    z-index: 999;
  }
}

@media only screen and (min-width: 768px) {
  #chars .rounded-circle {
    width: 65px;
    border: 2px solid #142040;
  }
}

@media only screen and (min-width: 992px) {
  #chars .rounded-circle {
    width: 90px;
    border: 3px solid #142040;
  }
  #chars .nav-link.active:after {
    left: 20%;
  }
}

#chars .nav-link.active {
  background: none!important;
  position: relative;
}

#chars .nav-link.active img {
  border: 3px solid #fffc2f;
}



#chars a.active img {
  border: 3px solid #99ffff;
}

#chars .tab-panes {
  margin-bottom: 20px;
  margin-top: 20px;
}

.img-youtube {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.img-youtube:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 100px;
  content: "\f144";
  color: #fff;
  opacity: .8;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.img-youtube:hover:before {
  color: #eee;
}
  
#social a {
  font-family: 'PlaySir', sans-serif;
  font-size: 20px;
  color: #666;
}